:root {
  --bg-color: #242424;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  padding-inline: 1.5rem;
}

header .header-wrapper {
  display: flex;
  gap: 1rem;
  width: 100%;
}

header .header-wrapper h2 {
  flex-grow: 0;
}

header .header-wrapper .filler {
  flex-grow: 4;
}

header .header-wrapper a {
  display: flex;
  align-items: center;
}

section {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem;
  background-color: var(--bg-color);
  top: 0;
}

pre {
  font-size: 13px;
  line-height: 16px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.logo {
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#selection-ring-g {
  animation: ring-grow;
  animation-duration: 0.2s;
  /* animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); */
  transform-box: fill-box;
  transform-origin: center;
}

.bullet-image {
  transform-box: fill-box;
  transform-origin: center;
}

.ring-icon:hover {
  cursor: pointer;
}

.icons-grid {
  background: #aaa;
  padding: 1rem;
}

.stats-displays-container {
  display: flex;
}

.middle-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middle-display-container h3 {
  margin: 0;
}

@media (max-width: 767px) {
  .stats-displays-container {
    display: block;
  }
}

.stats-display {
  display: flex;
  margin-right: 1rem;
}

.display-value {
  margin-left: 0.25rem;
}

#toasts-area {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.toast {
  text-align: right;
  transition: opacity 1s;
  font-size: 24px;
  /* border: 1px solid red; */
  padding: 0.5rem;
  width: calc(100vw - 4rem);
}

#game-over-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0;
  pointer-events: none;
  transition: 3s;
}

#game-over-overlay:not(.hidden) {
  align-items: center;
  opacity: 0.9;
  pointer-events: all;
}

.explosion {
  opacity: 0.5;
  animation: explosion 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes explosion {
  0% {
    fill: blueviolet;
    scale: 0;
  }
  50% {
    fill: red;
    scale: 1;
  }
  100% {
    fill: orange;
    scale: 0;
  }
}

@keyframes ring-grow {
  0% {
    scale: 0.75;
  }
  100% {
    scale: 1;
  }
}
